/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:303f357f44ef23ea74c1f7ab425fa66a$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(fire.png);}

.txpt2_1001@2x {width:120px; height:192px; background-position: -2px -778px}
.txpt2_1002@2x {width:120px; height:192px; background-position: -2px -584px}
.txpt2_1003@2x {width:120px; height:192px; background-position: -2px -390px}
.txpt2_1004@2x {width:120px; height:192px; background-position: -2px -196px}
.txpt2_1005@2x {width:120px; height:192px; background-position: -2px -2px}
