/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:a46166535cc924c28d3e117573edc465$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(xxx.png);}

.tx_cardup_1001@2x {width:96px; height:96px; background-position: -2px -2px}
.tx_cardup_1002@2x {width:96px; height:96px; background-position: -2px -100px}
.tx_cardup_1003@2x {width:96px; height:96px; background-position: -2px -198px}
.tx_cardup_1004@2x {width:96px; height:96px; background-position: -2px -296px}
.tx_cardup_1005@2x {width:96px; height:96px; background-position: -2px -394px}
.tx_cardup_1006@2x {width:96px; height:96px; background-position: -2px -492px}
.tx_cardup_1007@2x {width:96px; height:96px; background-position: -2px -590px}
.tx_cardup_1008@2x {width:96px; height:96px; background-position: -2px -688px}
.tx_cardup_1009@2x {width:96px; height:96px; background-position: -2px -786px}
.tx_cardup_1010@2x {width:96px; height:96px; background-position: -2px -884px}
.tx_cardup_1011@2x {width:96px; height:96px; background-position: -2px -982px}
