<section id="main">
    <ul id="todo-list">
        <li class="completed">
            <input type="checkbox" class="toggle">
            <label>123{{title}}Learn Ember.js</label><button class="destroy"></button>
        </li>
        <li>
            <input type="checkbox" class="toggle">
            <label>...</label><button class="destroy"></button>
        </li>
        <li>
            <input type="checkbox" class="toggle">
            <label>Profit!</label><button class="destroy"></button>
        </li>
    </ul>

    <input type="checkbox" id="toggle-all">
</section>